/*Police Syne apply to all body*/
body * {
    font-family: 'Syne', sans-serif;
}
 
h1, h2, h3 {
    text-align: center;
}


h1, h2 {
    font-weight: 800;
    text-transform: uppercase;
}

h1 {
    font-size : 38px;
}

h2, h3 {
    font-size : 30px;
}

h3 {
    font-weight: 700;
}

/*Contact form*/
.wpcf7-submit  {
    background-color: #E0B9B4;
    color: white;
}


.et_pb_menu--style-inline_centered_logo .et_pb_menu__wrap {
    justify-content: right;
}